<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.mumble.mpush">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application>
        <service android:name=".MPushFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <receiver android:exported="true" android:name="com.mumble.mpush.MpushPlugin" />
    </application>
</manifest>
